body {
    background-color:black;
    font-family:arial;
    color:white;
}
h1{
    color:grey;
    font-family:verdana;
}
.maindiv{
    margin: 0 auto;
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    text-align:center;
}
table{
    margin: 0 auto;
}
footer{
    text-align: left;
}
td{
    text-align: left;
}
u{
    text-decoration: none;
    background-color: yellow;
}